<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="PRM.Properties.Settings.PRMConnectionString" connectionString="Data Source=C:\Users\Manjesh\Documents\PRM.sdf;Password=prm123"
            providerName="Microsoft.SqlServerCe.Client.3.5" />
    </connectionStrings>
</configuration>